<html>
	<head>
		<title>HOME</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
	</head>

	<body>
		<div>
			<h1 id="welcome">Welcome to ITC Sonar, Kolkata</h1>
			<h2 id="branding">Powered by DAPS v1.0</h2>	
			<h3>Press F11 for best view</h3>
			<ul>
				<li><a href = "http://localhost:5000/login">Customer Login</a></li>
				<li><a href = "http://localhost:5000/signup">Customer Signup</a></li>
				<li><a href = "http://localhost:5000/loginO">Owner Login</a></li>
				<li><a href = "http://localhost:5000/signupO">Owner Signup</a></li>
			<ul>
			
		</div>	
	</body>
</html>
