<!DOCTYPE HTML> 
	<html> 
		<head> 
			<title>Sign-Up</title> 
			<link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css') }}">
		</head> 

		<body> 
			<div> 
				{% if usertype == "owner" %}
					<legend>Owner Signup</legend> 
				{% else %}
					<legend>Customer Signup</legend>
				{% endif %}

				<form method="POST" action = "{{ url_for('addrec') }}"> 
					
					<input type="text" name="username" placeholder="Username">
				
					<br>
					
					 <input type="password" name="pass1" placeholder="Password">
				
					<br>				
					
					<input type="password" name="pass2" placeholder="Re-enter Password">
					
					<br>
					
					<input type="text" name="name" placeholder="Name">
					<br>
				{% if usertype == "owner" %}
					
						
						 <input type="text" name="user" placeholder="Existing Username">
					
						 <br>
					
						
						 <input type="password" name="pass" placeholder="Existing Password">
					
						<br>
						<input id="button" type="submit" name="submit" value="Sign-Up">
					
				</form> 
					{% else %}
						
							<input id="button" type="submit" name="submit" value="Sign Up">
						
					</form> 
					{% endif %}

				 
				<p id="msg">{{msg}}</p>
				<a href="{{url_for('home')}}"><p id = "href">Return to Home Page</p></a>
			</div> 
		</body> 
	</html>
